/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* VARIABLES */
$header-height: 3rem;
$primary-color: #ac9990;
$secondary-color: #0f1011;
$body-color: #f2f2f2;

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: $header-height 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $body-color;
}

html { scroll-behavior: smooth; }

a { text-decoration: none; }

ul { list-style: none; }

img {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CLASSES */
.container {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 968px;
}

.main { overflow-x: hidden; }

.grid { display: grid; }

.section { padding: 4.5rem 0 2.5rem; }

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
}

.scroll-header {
    background-color: $body-color;
    box-shadow: 0 0 4px;
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
    color: $secondary-color;
    text-shadow: 0 0 0 #000;
}

/* NAV */
.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle {
        color: $body-color;
        text-shadow: 1px 2px 5px #000;
    }

    &__logo {
        font-size: 1.3rem;
        font-weight: 700;
    }

    &__toggle {
        cursor: pointer;
        font-size: 1.7rem;
    }

    &__menu {
        position: relative;

        @media screen and (max-width: 767px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            box-shadow: -1px 0 4px;
            padding: 3rem;
            transition: .5s;
            background-color: $body-color;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    &__link {
        color: $secondary-color;
        font-size: 1.1rem;
    }

    &__close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.7rem;
        color: $secondary-color;
        cursor: pointer;
    }
}

.show-menu { right: 0; }

/* HOME */
.home {
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 45%;
    }

    &__container {
        position: relative;
        height: calc(100vh - 3rem);
        row-gap: 3rem;
        align-content: center;
    }

    &__data {
        position: absolute;
        top: 1.7rem;

        &-title { font-size: 2.5rem; }

        &-subtitle {
            font-size: 2.5rem;
            font-weight: 300;
        }

        &-desc {
            font-weight: 300;
            font-size: 1.4rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        &-btn {
            background: linear-gradient(to left, $secondary-color, rgba(0, 0, 0, .7));
            padding: 1rem 3rem;
            cursor: pointer;
            font-size: 1.2rem;
            color: $body-color;
        }
    }

    &__social {
        position: absolute;
        right: 0;
        bottom: 3rem;
        display: flex;
        column-gap: 1.5rem;

        &-link {
            background-color: $body-color;
            color: $secondary-color;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            font-size: 1.7rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__info {
        position: absolute;
        right: 0;
        bottom: 9.5rem;
        color: $body-color;
        display: grid;
        row-gap: 1.5rem;

        &-data {
            font-size: 1.23rem;

            & i { color: $primary-color; }
        }
    }
}

/* ABOUT */
.about {
    &__title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__image {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
        border-radius: .5rem;
        padding: 1rem 0;
        width: 90%;
        position: relative;
        right: -1rem;
    }

    &__data {
        font-size: 1.1rem;
        background-color: $primary-color;
        border-radius: .5rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
        padding: 1rem;
        position: relative;
        top: -7rem;
    }
}

.houses {
    margin-top: -10rem;

    &__title,
    &__subtitle { text-align: center; }

    &__title { font-size: 1.5rem; }

    &__subtitle {
        font-size: 1.35rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }

    &__card {
        position: relative;
        width: 200px;
        overflow: hidden;

        &-title,
        &-desc {
            color: $body-color;
            text-shadow: 10px 0px 5px $secondary-color;
        }

        &-title { font-size: 1.7rem; }

        &-desc { font-size: 1.2rem; }

        &-img {
            transition: .5s;

            &:hover { transform: scale(1.1); }
        }

        &-data {
            position: absolute;
            bottom: 1.5rem;
            left: 1rem;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        &-btn {
            background-color: #574942;
            font-size: 1.2rem;
            color: $body-color;
            padding: 1rem 2rem;
            cursor: pointer;
            transition: .5s;

            &:hover { background-color: #3a302c; }
        }
    }
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* CURSOS */
.cursos {
    &__title,
    &__desc,
    &__subtitle { text-align: center; }

    &__title { font-size: 1.5rem; }

    &__desc { font-size: 1.1rem; }

    &__subtitle {
        font-weight: 300;
        font-size: 1.35rem;
        margin-bottom: 1.5rem;
    }

    &__btns {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        margin-top: 2rem;

        &-virtual,
        &-pregrabado {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-btn {
            background-color: #574942;
            color: $body-color;
            font-size: 1.2rem;
            padding: 1rem;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: .5rem;
            cursor: pointer;
            transition: .5s;

            &:hover { background-color: #3a302c; }
        }

        &-icon { font-size: 1.5rem; }
    }
}

/* VIDEOS */
.videos {
    &__title {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__container { row-gap: 2rem; }

    &__card {
        position: relative;
        overflow: hidden;

        &-img { transition: .5s; }

        &-data {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: .75rem .75rem 1rem;
        }

        &-info {
            color: $body-color;
            display: grid;
            row-gap: .5rem;
            text-shadow: 1px 2px 5px #000;
        }

        &-title { font-size: 1.5rem; }

        &-subtitle,
        &-time { font-size: 1.1rem; }

        &-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: .75rem 1rem;
            background-color: #574942;
            color: $body-color;
            transition: .5s;

            &:hover { background-color: #3a302c; }
        }

        &-icon { font-size: 1.5rem; }

        &:hover &-img { transform: scale(1.1); }
    }
}

/* FOOTER */
.footer {
    &__title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__creador {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
    }
}

/* RESPONSIVE DESIGN */
@media screen and (min-width: 568px) {
    .about {
        &__image { width: 70%; }
        &__data {
            width: 70%;
            top: -10rem;
            right: -9rem;
        }
    }

    .cursos {
        &__btns {
            grid-template-columns: repeat(2, 1fr);

            &-btn { width: 60%; }
        }
    }

    .videos {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    body { margin: 0; }

    .scroll-header .nav__logo,
    .scroll-header .nav__link {
        color: $secondary-color;
        text-shadow: 0 0 0 #000;
    }

    .nav {
        height: calc(3rem + 1.5rem);

        &__menu {
            display: flex;
            column-gap: 1rem;
        }

        &__list {
            flex-direction: row;
            column-gap: 4rem;
        }

        &__link {
            color: $body-color;
            text-shadow: 1px 2px 5px #000;
        }

        &__toggle,
        &__close { display: none; }
    }

    .home {
        &__data { top: 6rem; }

        &__info { grid-template-columns: repeat(3, 1fr); }

        &__social { bottom: -1rem; }
    }

    .about {
        &__image { width: 50%; }

        &__data {
            width: 60%;
            right: -13rem;
        }
    }

    .houses {
        &__container {
            width: 610px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        &__image {
            width: 50%;
            right: -5rem;
        }

        &__data {
            width: 50%;
            right: -24rem;
            top: -17rem;
        }
    }

    .videos {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1.5rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container { max-width: 1024px; }
}
